<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<!--<link rel="shortcut icon" href="../../assets/ico/favicon.png">-->

		<title>Evento</title>

		<link href='http://fonts.googleapis.com/css?family=Pathway+Gothic+One' rel='stylesheet' type='text/css'>
		<!-- @if ENV='dev' -->
		<link href="css/style.min.css" rel="stylesheet">
		<script src="http://localhost:35729/livereload.js"></script>
		<!-- @endif -->

		<!-- @if ENV='production' -->
		<link href="css/style.min.css?<!-- @echo RELEASE_TIME -->" rel="stylesheet">
		<!-- @endif -->

		<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<script src="js/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>

		<header id="header">

			<div class="container">
				<nav class="visible-xs">
					<ul>
						<li><a href="#">Ponentes</a></li>
						<li><a href="#">Proyectos</a></li>
						<li><a href="#">Dónde</a></li>
						<li><a href="#">Participar</a></li>
					</ul>
				</nav>
				<div class="row">
					<div class="col-md-3 visible-md visible-lg"><p class="izquierda text-right">Próximo: 21 de noviembre de 2013</p></div>
					<div class="col-md-6">
						<div id="logo" class="img-retina"><img src="img/logo.png" class="normal"><img src="img/logo@2x.png" class="retina"></div>
					</div>
					<div class="col-md-3 visible-md visible-lg"><p class="derecha text-left">Hospedado (físicamente) por CDmon</p></div>
				</div>
				<div class="row">
					<div class="col-md-offset-2 col-md-8">
						<h1>Título del evento</h1>
						<h2>Reunión mensual de desarrolladores y diseñadores web con ganas de compartir conocimientos y estar al día con las últimas tecnologías, técnicas y metodologías.</h2>
					</div>
				</div>
			</div>

		</header>


		<section id="ponentes">

			<div class="container">
				<div class="row">
					<div class="col-md-6">

						<div class="ponente" itemscope itemtype="http://schema.org/Person">
							<img class="foto" src="img/ponentes/heisenberg.png" itemprop="image" />
							<h2>Preprocesadores CSS: LESS y SASS</h2>
							<p class="descripcion">Descripción de qué tratará la charla, su contenido y finalidad.</p>
							<span class="nombre" itemprop="name">Walter White</span><br>
							<span itemprop="jobTitle">Profesor de Química</span> en <span itemprop="worksFor" itemscope itemtype="http://schema.org/Organization"><a itemprop="url" href="http://company.com"><span itemprop="name">Grey Matter Inc.</span></a></span><br>
							<a href="http://www.twitter.com/heisenberg" itemprop="url">@heisenberg</a>
						</div>

					</div>
					<div class="col-md-6">

						<div class="ponente" itemscope itemtype="http://schema.org/Person">
							<img class="foto" src="img/ponentes/saul.png" itemprop="image" />
							<h2>Introducción a Node.js</h2>
							<p class="descripcion">Otra descripción, de la segunda charla. Herpy derp, it's better call Saul.</p>
							<span class="nombre" itemprop="name">Saul Goodman</span><br>
							<span itemprop="jobTitle">Abogado</span> en <span itemprop="worksFor" itemscope itemtype="http://schema.org/Organization"><a itemprop="url" href="http://company.com"><span itemprop="name">Stark Industries</span></a></span><br>
							<a href="http://www.twitter.com/saul_goodman" itemprop="url">@saul_goodman</a>
						</div>

					</div>
				</div>
			</div>

		</section>

		<section id="proyectos">

			<div class="container">
				<div class="row">
					<div class="col-md-6">
			
						<div itemscope itemtype="http://schema.org/Product">
							<img src="img.jpg" itemprop="logo"><br>
							<h2 itemprop="name">Nombre del servicio</h2>
							<span itemprop="description">Descripción del servicio o producto del que se hablará.</span><br>
							<span itemprop="brand" itemscope itemtype="http://schema.org/Organization"><a itemprop="url" href="http://company2.com"><span itemprop="name">Derp Labs</span></a></span>
						</div>

					</div>
					<div class="col-md-6">
			
						<div itemscope itemtype="http://schema.org/Product">
							<img src="img.jpg" itemprop="logo"><br>
							<h2 itemprop="name">Nombre del servicio</h2>
							<span itemprop="description">Descripción del servicio o producto del que se hablará.</span><br>
							<span itemprop="brand" itemscope itemtype="http://schema.org/Organization"><a itemprop="url" href="http://company2.com"><span itemprop="name">Derp Labs</span></a></span>
						</div>

					</div>
				</div>
			</div>

		</section>

		<section id="lugar">
			<div class="container" itemscope itemtype="http://schema.org/Event">

				<a itemprop="url" href="http://urldelevento.com">
					<span itemprop="name">Nombre del evento</span>
				</a>

				<meta itemprop="startDate" content="2016-04-21T20:00">
				Viernes 21 de octubre a las 18:00

				<div itemprop="location" itemscope itemtype="http://schema.org/Place">
					<a itemprop="url" href="http://www.cdmon.com"><span itemprop="name">CDmon</span></a>
					<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
						<span itemprop="addressLocality">Malgrat de Mar</span>,
						<span itemprop="addressRegion">Barcelona</span>
					</div>
				</div>

			</div>
		</section>

		<section id="participar">
			<div class="container">

				Derp. Cómo participar.

			</div>
		</section>

		<footer id="footer">
			<div class="container">

				Footer

			</div>
		</footer>
	

		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="js/scripts.min.js"></script>
	</body>
</html>
