/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/

/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
.img-retina .normal {
  display: auto;
}
.img-retina .retina {
  display: none;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .img-retina .normal {
    display: none;
  }
  .img-retina .retina {
    display: inline-block;
  }
}
a {
  color: #43daff;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: 1.3em;
}
#header {
  background: #222222 url('../img/header_bg.png');
  background-size: cover;
  border-top: 3px solid #43daff;
  text-align: center;
  padding: 50px 0;
}
#header ul {
  list-style: none;
  margin: 0 0 20px;
  padding: 0;
  display: inline-block;
}
#header li {
  float: left;
  margin: 0 10px;
}
#header h1 {
  display: none;
}
#header h2 {
  font-size: 18px;
  color: #666666;
  font-weight: normal;
}
#header .izquierda,
#header .derecha {
  font-family: 'Pathway Gothic One', sans-serif;
  color: #888888;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
  padding: 15px 0;
  font-size: 16px;
  margin-top: 30px;
}
#header .izquierda {
  padding-left: 20px;
}
#header .derecha {
  padding-left: 20px;
}
@media (min-width: 1200px) {
  #header .izquierda {
    margin-top: 40px;
    margin-right: -50px;
  }
  #header .derecha {
    margin-top: 40px;
    margin-left: -50px;
  }
}
@media (min-width: 992px) {
  #header {
    padding: 80px 0;
  }
}
#logo img {
  width: 400px;
  height: auto;
  margin-bottom: 20px;
  max-width: 100%;
}
#y {
  text-align: center;
}
#y div {
  background: #43daff;
  color: #ffffff;
  margin-top: 50px;
  display: inline-block;
  padding: 10px;
  line-height: 1em;
  height: 70px;
  width: 70px;
  font-size: 48px;
  font-family: Georgia;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
#ponentes {
  padding: 50px 0;
  background: #f3f3f3;
  border-bottom: 1px solid #ededed;
}
#ponentes .ponente.izquierda {
  text-align: right;
  padding-right: 180px;
  margin-right: -30px;
}
#ponentes .ponente.izquierda .foto {
  margin-right: -180px;
  float: right;
}
#ponentes .ponente.derecha {
  padding-left: 180px;
  margin-left: -30px;
}
#ponentes .ponente.derecha .foto {
  margin-left: -180px;
  float: left;
}
#ponentes .foto {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#ponentes h2 {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 28px;
}
#ponentes .descripcion {
  font-size: 16px;
  margin-bottom: 20px;
}
#ponentes .nombre {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 21px;
  font-weight: bold;
}
#proyectos {
  padding: 50px 0;
}
#lugar {
  padding: 50px 0;
  background: #f3f3f3;
  border-top: 1px solid #ededed;
}
#participar {
  background: #444444;
  color: #ededed;
  padding: 40px 0;
}
#footer {
  background: #222222;
  color: #ededed;
  padding: 40px 0;
}

.img-retina .normal {
  display: auto;
}
.img-retina .retina {
  display: none;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .img-retina .normal {
    display: none;
  }
  .img-retina .retina {
    display: inline-block;
  }
}


